@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');

html{
  margin: 0;
}
body{
  margin: 0;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color:hsla(51, 100%, 95%, 0.277);
}

#body-home{
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
  min-height: 100vh;
  margin: 0;
}

.site-name{
  color: #022f4d9e  ;
  font-size: 4rem;
  text-shadow: 10px 6px 15px#ffdb9892;
}

#home-sign{
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(74, 73, 73, 0.411);
    padding: 60px;
    margin-right:5%;
    border-radius: 16px;
    backdrop-filter: blur(10px);          
    -webkit-backdrop-filter: blur(10px);  
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    text-align: center;
}

#typing-intro {
    font-family: 'Courier New', monospace;
    font-size: 1.2rem;
    white-space: pre-wrap;
    border-left: 3px solid #fff5dc;
    padding-left: 1rem;
    max-width: 600px;
    margin: 2rem auto;
    color: #fff5dc;
    text-align: start;
    font-weight: 500;
  }

  .page-name{
    color: rgba(9, 9, 121, 1);
    margin-top: 100px;
  }

  .nav{  
    background-image: linear-gradient(to right, #ffd89b 0%, #19547b  70%);
    color: #022f4db8;
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
  }

  .nav-links{
    display: flex;
    align-items: center;
  }

  .nav-links a { 
    text-decoration: none;
    color: #ffd99b97;
    margin: 0 20px;
    max-width: min-content;
    font-size: 1.3rem;
  }

  a i{
    font-size: 1.8rem;
  }

  #art-gallery{
    display: grid;
    grid-template-columns: 1fr;   
  }

  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 5px;
  }
  
  #birth-year-form{
    display: flex;
    flex-direction: column;
  }

  .btn-grad {
    background-image: linear-gradient(to right, #ffd89b 0%, #19547b  51%, #ffd89b  100%);
     margin: 10px;
     padding: 15px 45px;
     text-align: center;
     text-transform: uppercase;
     transition: 0.5s;
     background-size: 200% auto;
     color: white;            
     box-shadow: 0 10px 20px #5c5c5c86;
     border-radius: 10px;
     border: none;
     display: block;
   }

   .btn-grad:hover {
     background-position: right center; 
     color: #dbe2ff;
     font-weight: 600;
     text-decoration: none;
   }
  
  
   
   .home {
    text-decoration: none;
    margin: 0 auto;
    max-width: 500px;
    box-shadow: 0 0 20px #3c3b3b;
    color: #1626319e  ;
    
  }
   
   
  