@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

html{
  margin: 0;
}
body{
  margin: 0;
  font-family:"Source Sans 3";
  background-color:hsla(51, 100%, 95%, 0.277);
}

#body-home{
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
  min-height: 100vh;
  margin: 0;
}

.site-name{
  color: #022f4d9e  ;
  font-size: 2.5rem;
  text-shadow: 10px 6px 15px#ffffff92;
}

#home-sign{
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(74, 73, 73, 0.411);
    padding: 60px;
    margin-right:5%;
    border-radius: 16px;
    backdrop-filter: blur(10px);          
    -webkit-backdrop-filter: blur(10px);  
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    text-align: center;
}

#typing-intro {
    font-family: 'Courier New', monospace;
    font-size: 1rem;
    white-space: pre-wrap;
    border-left: 3px solid #ffffff6d;
    padding-left: 1rem;
    max-width: 600px;
    margin: 2rem auto;
    color: #ffffffa2;
    text-align: start;
    font-weight: 400;
    text-shadow: 5px 3px 3px #3c3b3b;
  }

  .content{
    display: flex; 
    flex-direction: column; 
    max-width: 700px;
    padding: 0 8%;
    margin: 0 auto;
    align-items: center;
  }
  .page-name{
    color: #19547b;
    margin-top: 100px;
    text-align: center;
  }

  .page-intro{
    text-align: center;
    margin: 2%;
  
  }

  .intro-description{
    margin: 5px 2% 20px 2%;
    text-align: justify;
  }

  .nav{  
    background-image: linear-gradient(to right, #ffffff 0%, #19547b  70%);
    color: #022f4db8;
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 50px;
    box-shadow: 0 10px 20px #5c5c5c86; 
  }

  .nav-name {
    font-size: 1.2rem;
    margin-left: 10px;
  }

  .nav-links{
    display: flex;
    align-items: center;
    line-height: 1;
  }

  .nav-links a { 
    text-decoration: none;
    color: #ffffff97;
    margin: 0 20px;
    max-width: min-content;
    font-size: 1.3rem;
  }

  a i{
    font-size: 1.8rem;
  }

  #input-cont{
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }

  input, select{
    margin-bottom: 20px;
    color: #19547b ;
    border:0.7px solid #19547b;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px 10px 15px #5c5c5c5a;
  }
  #art-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin: 0 10%;  
    gap:15px;
  }

  .card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 0px;
    margin: 20px 5px;
    
  }
  
  .img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
   
    
  }
  .by-img{
    margin: auto;
    width: 100%;
    object-fit: cover;
    max-height: 250px;
  }

  .description-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 5px;
    text-align: center;
    line-height: 1rem;
  }
  
  #birth-year-form{
    display: flex;
    flex-direction: column;
  }

  .art-frame {
    margin: 0 20px;        
    height: auto;         
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;     
  }
  
  .art-frame img {
    min-width: 80vw;
    margin: 20px 5%;
  }

  .btn-grad {
    background-image: linear-gradient(to right, #19547b 0%, #ffffff  51%, #19547b  100%);
     margin: 10px;
     padding: 15px 45px;
     text-align: center;
     text-transform: uppercase;
     transition: 0.5s;
     background-size: 200% auto;
     color: rgb(8, 46, 81);            
     box-shadow: 0 10px 20px #5c5c5c86;
     border-radius: 10px;
     border: none;
     display: block;
   }

   .btn-grad:hover {
     background-position: right center; 
     color: aliceblue;
     font-weight: 600;
     text-decoration: none;
   }
  
   .home /*btn*/   {
    text-decoration: none;
    margin: 0 auto;
    max-width: 500px;
    box-shadow: 0 0 20px #3c3b3b;
    color: #1626319e  ;
    
  }
   
   
  

  
  @media (max-width: 480px) { 

    h1{
      font-size: 1.5rem;
    }

    .nav{
      height: fit-content;
    }

    .nav h2, .nav-links a{
      font-size: 1rem;
    }
    a i{
      font-size: 1.2rem;
     
    }
    
    .art-frame  {
      max-width: 100%;
    }
    
    .art-frame img {
      width: 100%;         
      max-width: 400px;   
      height: auto;       
      display: block;    
      margin: 0 auto;  
    }

  }